@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');
@import 'tailwindcss';

:root {
  --font-family: 'Mozilla Headline';
  color-scheme: dark;
  scroll-behavior: smooth;
}